* {
    box-sizing: border-box;  
}
body {
    background-color : #444;
    margin : 0;
    border : 0;
    padding : 0;
    color : #AAA;
    font-family: 'Oswald', sans-serif;
}
input {
    border : 0; 
}
input:disabled {
    background-color : #AAA; 
    color : #999;
}
svg {
    height : 30px;
    width : 100%;
    margin : 0px 0px 0px 0px;
    border : 0px;
    padding : 0px 0px 0px 0px;
} 

#add_modify_popup, #choosecloud_popup {
    z-index : 1001;
    background-color : gray;
    padding : 10px;
    margin : auto;
    display : none;
}
#add_modify_container, #choosecloud_container {
    display : none; 
    width : 100%;
    height : 100%;
    position : absolute;
    top : 0px;
}
#lightboxBG {
    display : none; 
    width : 100%;
    height : 100%;
    position : absolute;
    top : 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index : 1000;
}
.bar_container {
    height : 30px;
    margin : 0px 5px 5px 5px;
    position : relative;
    background-color : #555
}
.title_container, .remaining_time_container, .action_container {
    position : absolute;
    z-index : 10;
    left : 5px;
    top : 5px;
    right : 5px;
    color : #000
}
#add_button {
    height: 30px;
}
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
    opacity:  1;
}
::-moz-placeholder {
    color:    #999;
    opacity:  1;
}
:-ms-input-placeholder {
    color:    #999;
}
#header_container {
    width : 100%; 
    display : flex;
    flex-basis: 0;
    margin-bottom : 5px;
    padding : 5px;
    background-color : #333;
} 
#left_header {
    flex-grow : 1;
    flex-basis: 0;
} 
#center_header {
    flex-grow : 2;
    flex-basis: 0;
    text-align : center;
    font-size : 1.5em;
} 
#right_header {
    flex-grow : 1;
    flex-basis: 0;
    text-align: right;
} 
#add_modify_add_button {
    width : 100%;
    height : 30px;
}
.remaining_time_container {
    text-align : center;
    z-index : 15;
    width : 100%;
}
.action_container {
    text-align : right;
    z-index: 15;
}
.count_up_disabled {
    background-color: #aaa;
    color: #999;
    text-align: center;
    padding: 5px;
}
.count_up_enabled {
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 5px;
}
